{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('fontawesome/css/all.css')}}">
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-80">
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
 <a class="navbar-brand" href="#">
    <img src="https://getbootstrap.com//docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Learningpage
  </a>

       <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Reports</a>
                </li> -->
            </ul>

            <!--<form id="searchForm" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->

            <ul class="navbar-nav ">
                <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-brand nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="http://www.bobmazzo.com/wp-content/uploads/2009/07/bobmazzoCD.jpg" width="30" height="30" >
</a>
            </a>
                    <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                        <a class="dropdown-item" href="#">Preferences</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>

</nav>
    </header>
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 left-bar">
            <ul class="list-group list-group-flush">
                <li class="list-group-item active"><a href="{{ path('dashboard') }}"> <i class="fas fa-align-left"></i>&nbsp; Dashboard</a></li>
                <li class="list-group-item"><a href="{{ path('expanse') }}"> <i class="fas fa-credit-card"></i>&nbsp; Expanse</a></li>
                <li class="list-group-item"><a href="{{ path('investment_index') }}"> <i class="fas fa-hand-holding-usd"></i>&nbsp; Investment</a></li>
                <li class="list-group-item"><a href="{{ path('report') }}"><i class="fas fa-file-invoice-dollar"></i>&nbsp; Taxation</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            {% block breadcrumb %} {% endblock %}
            {% block body %} {% endblock %}
        </div>
        <div class="col-md-2" id="sidebar">
        <br/>
        <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2020/7/6/w1200X800/mf.JPG" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Investing In Mutual Funds Made easy. Expert fund Managers. User-Friendly Interface. Invest in Equity, Hybrid, Debt, ELSS Funds. </p>
    <a href="#" class="btn btn-primary btn-sm">Explore</a>
  </div>
</div>
        </div>
    </div>
  </div>
</main>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
